.home {
  display: flex;
  flex-direction: column; /* Stack elements vertically by default */
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  min-height: 100vh; /* Use min-height to ensure content fits within viewport but can grow */
}

.home-content {
  max-width: 50%;
  text-align: center;
}

.home-content h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-left: 10px;
}

.highlight {
  color: #3366ff;
}

.contact-btn {
  background-color: #3366ff;
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease-in-out;
}

.contact-btn:hover {
  background-color: #254edb;
}

.social-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #333;
}

.social-icons a:hover {
  color: #3366ff;
}

.home-image img {
  border-radius: 50%;
  max-width: 400px;
  width: 100%; /* Ensure the image is responsive */
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for aesthetics */
}

/* Responsive Design */
@media (min-width: 768px) {
  .home {
    flex-direction: row; /* Horizontal layout for larger screens */
    justify-content: space-between;
    text-align: left;
  }

  .home-content {
    max-width: 50%;
  }

  .home-image img {
    max-width: 500px;
  }

  .home-content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-content {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .home-image img {
    max-width: 300px;
  }

  .home-content h1 {
    font-size: 2rem;
  }
}
